body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

hr {
  width: 500px;
}

#board {
  width: 400px;
  height: 400px;

  background-color: #cbc1b5;
  border: 6px solid #bbaba0;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: 90px;
  height: 90px;
  border: 5px solid #bbaba0;

  font-size: 40px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
    color: #776e65;
    font-size: 60px;
    margin: 10px;
}

h2{
    color: #776e65;
    font-size: 30px;
    margin: 20px;
}

p{
    color: #776e65;
    font-size: larger;
    text-align: center;
}

span{
    font-weight: bolder;
}

.info{
    display: flex;
    align-items: center;
    justify-content: center;
}

#restartButton{
    background: #8f7a66;
    border-radius: 5px;
    padding: 0 20px;
    color: #f9f6f2;
    height: 40px;
    cursor: pointer;
    margin-left: 40px;
    border: none;

}

/* popup window */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 8px;
  }
  
  /* Close Button */
  .close-btn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

/* Tile Color */

.x2 {
  background-color: #eee4da;
  color: #727371;
}

.x4 {
  background-color: #ece0ca;
  color: #727371;
}

.x8 {
  background-color: #f4b17a;
  color: white;
}

.x16 {
  background-color: #f59575;
  color: white;
}

.x32 {
  background-color: #f57c5f;
  color: white;
}

.x64 {
  background-color: #f65d3b;
  color: white;
}

.x128 {
  background-color: #ebce71;
  color: white;
}

.x256 {
  background-color: #ebcc63;
  color: white;
}

.x512 {
  background-color: #ebc651;
  color: white;
}

.x1024 {
  background-color: #eec744;
  color: white;
}

.x2048 {
  background-color: #ecc230;
  color: white;
}
.x4096 {
  background-color: #fe3d3d;
  color: white;
}

.x8192 {
  background-color: #ff2020;
  color: white;
}
